
/* CSS */
/* cambia la medida del rem, 1rem=10px*/
html{
font-size: 62.5%;
}

/*colores de la empresa*/
.colorAzul{
    color:#1f4591;
}


.colorVerde{
    color:#8CC63E;
}
.colorPlomo{
    color:#54666F;
}

