
/* CSS */
/* cambia la medida del rem, 1rem=10px*/
html{
font-size: 62.5%;
}

/*colores de la empresa*/
.colorAzul{
    color:#1f4591;
}


.colorVerde{
    color:#8CC63E;
}
.colorPlomo{
    color:#54666F;
}

.nav-link{
    font-size: 2rem;
}

.btn-primary{

    background-color: #8CC63E;
    border-color: #54666F;
    transition: all 0.25s ease-out;
}

:not(.btn-check)+ .btn:hover{
    background-color: #66922c;
    border-color: #54666F;
    transform: scale(0.9);
}