/* import */
/* cambia la medida del rem, 1rem=10px*/
html {
  font-size: 62.5%; }

* {
  font-family: 'Lato', sans-serif; }

.dimensionesImagSol {
  width: 30rem;
  height: 30rem;
  transition: 2s; }

.dimensionesImagSol1 {
  width: 30rem;
  height: 20rem;
  padding: 0.2rem; }

.dimensionesImagSol2 {
  width: 30rem;
  height: 40rem;
  padding: 0.2rem; }

.dimensionesImagSol3 {
  /*max-width: 100%;
        height: auto;*/
  width: 30rem;
  height: 20rem;
  padding: 1rem; }

@keyframes animacionlogo {
  20% {
    filter: brightness(10%); }
  50% {
    transform: rotatey(90deg); }
  80% {
    filter: brightness(100%); } }

.logoCabecera {
  animation-name: animacionlogo;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite; }

/* css para Footer */
footer ul li {
  font-size: 2rem; }

.redesFlotantes img {
  width: 3rem;
  display: inline-block; }

.whatsapp {
  position: fixed;
  z-index: 3;
  right: 4rem;
  bottom: 5rem; }
  .whatsapp img {
    width: 5rem; }

/* cambia la medida de texot del menu y color*/
.nav-link {
  font-size: 2rem;
  color: white; }

/* cambiar y efecto en los botones de los cards*/
.btn-primary {
  background-color: #8CC63E;
  border-color: #54666F;
  transition: all 0.25s ease-out; }

:not(.btn-check) + .btn:hover {
  background-color: #66922c;
  border-color: #54666F;
  transform: scale(0.9); }

/* cambia el color del menu hamburguesa*/
.navbar-toggler-icon {
  background-color: white; }

.navbar {
  --bs-navbar-toggler-border-color:white; }

.navbar > .container-fluid {
  background-color: #1f4591;
  padding: 4rem; }

/*  grid para la pagina de Index se us VH o FR */
.contenedorIndx {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2fr 0.2fr 2fr 1.5fr;
  grid-template-areas: "titulo titulo titulo" "solucion1 solucion2 solucion3" "linea linea linea" "quienesomos quienesomos fotogrupo" "footer footer footer"; }

.principal__titulo {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.solucion1, .solucion2, .solucion3 {
  grid-area: solucion1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .solucion1 a, .solucion2 a, .solucion3 a {
    /* quitamos la lineas de los url*/
    text-decoration: none;
    font-size: 2rem; }
  .solucion1 img, .solucion2 img, .solucion3 img {
    max-width: 80%;
    height: auto; }
    .solucion1 img img:hover, .solucion2 img img:hover, .solucion3 img img:hover {
      height: 30rem;
      width: 30rem; }

.solucion2 {
  grid-area: solucion2; }

.solucion3 {
  grid-area: solucion3; }

.lineaindx {
  grid-area: linea;
  padding: 1rem;
  color: #8CC63E; }

.quienesomos {
  grid-area: quienesomos; }
  .quienesomos h2 {
    text-align: center;
    padding-top: 2rem;
    color: #8CC63E;
    font-weight: bold;
    font-size: 2rem; }
  .quienesomos .contenidoQS {
    color: #8CC63E;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .quienesomos .contenidoQS p {
      max-width: 100%;
      text-align: center;
      margin: 4rem;
      font-size: 2rem; }

.fotogrupo {
  grid-area: fotogrupo;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fotogrupo img {
    width: 20rem;
    height: 20rem;
    padding-top: 2rem; }

.ordenFooter_Indx, .footerMantenimiento, .footerlimpiadores, .footerContacto {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #1f4591; }
  .ordenFooter_Indx a, .footerMantenimiento a, .footerlimpiadores a, .footerContacto a {
    /* quitamos la lineas de los url*/
    text-decoration: none; }
  .ordenFooter_Indx ul, .footerMantenimiento ul, .footerlimpiadores ul, .footerContacto ul {
    /* quitmaos las vinetas d elas litas*/
    list-style-type: none; }

@media screen and (max-width: 768px) {
  .contenedorIndx {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr 1fr 0.5fr;
    grid-template-areas: "titulo titulo" "solucion1 solucion2" "solucion3 solucion3" "linea linea" "quienesomos quienesomos" "footer footer"; }
  .solucion1 img, .solucion2 img, .solucion3 img {
    max-width: 70%;
    height: auto; }
  .ordenFooter_Indx, .footerMantenimiento, .footerlimpiadores, .footerContacto {
    flex-flow: column wrap; }
  .fotogrupo {
    display: none; } }

@media screen and (max-width: 540px) {
  .contenedorIndx {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.2fr 0.5fr 0.4fr;
    grid-template-areas: "titulo" "solucion1" "solucion2" "solucion3" "linea" "quienesomos" "footer"; } }

/*  grid para la pagina de Mantenimiento */
.contenedorMtto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 2fr;
  grid-template-areas: "titulo titulo" "galeria1 galeria3" "galeria2 galeria3" "contenido contenido"; }

.tituloMtto {
  grid-area: titulo;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.galeria1Mtto {
  grid-area: galeria1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.galeria2Mtto {
  grid-area: galeria2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.galeria3Mtto {
  grid-area: galeria3;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.contenidoProdMtto {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.contenidoProd1Mtto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.contenidoProd2Mtto {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; }

.contenidoProd1Mtto p {
  width: 50rem;
  font-size: 2rem; }

.contenidoProd2Mtto p {
  width: 50rem;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .contenedorMtto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr;
    grid-template-areas: "titulo titulo" "contenido contenido" "galeria1 galeria2"; }
  .galeria2Mtto {
    justify-content: flex-start; }
  .galeria3Mtto {
    display: none; } }

@media screen and (max-width: 540px) {
  .contenedorMtto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "titulo" "contenido" "galeria1" "galeria2"; }
  .contenidoProd1Mtto {
    display: flex;
    flex-flow: column-reverse;
    align-items: center; }
  .dimensionesImagSol3 {
    width: 20rem;
    height: 20rem; }
  .dimensionesImagSol1 {
    width: 30rem;
    height: 30rem; }
  .galeria2Mtto {
    justify-content: center; }
  .galeria1Mtto {
    justify-content: center; }
  .galeria3Mtto {
    display: none; }
  .h1 {
    font-size: 6rem; } }

/*  grid para la pagina de limpiadores */
.contenedorLim {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo" "contenido contenido" "galeria1 galeria3" "galeria2 galeria3" "footer footer"; }

.tituloLim {
  grid-area: titulo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.contenidoProdLim {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.contenidoProd1Lim {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.contenidoProd2Lim {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; }

.contenidoProd1Lim p {
  display: flex;
  flex-flow: row wrap;
  width: 100rem;
  font-size: 2rem; }

.contenidoProd2Lim p {
  display: flex;
  flex-flow: row wrap;
  width: 100rem;
  font-size: 2rem; }

.galeria1Limp {
  grid-area: galeria1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.galeria2Limp {
  grid-area: galeria2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.galeria3Limp {
  grid-area: galeria3;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.footerlimpiadores {
  grid-area: footer; }

@media screen and (max-width: 768px) {
  .contenedorLim {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr;
    grid-template-areas: "titulo titulo" "contenido contenido" "galeria1 galeria2" "footer footer"; }
  .galeria2Limp {
    justify-content: flex-start; }
  .galeria3Limp {
    display: none; } }

@media screen and (max-width: 540px) {
  .contenedorLim {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.4fr 0.4fr 0.4fr;
    grid-template-areas: "titulo" "contenido" "galeria1" "galeria2" "footer"; }
  .contenidoProd1Lim {
    flex-direction: column-reverse;
    align-items: center; }
  .dimensionesImagSol3 {
    width: 20rem;
    height: 20rem; }
  .dimensionesImagSol1 {
    width: 30rem;
    height: 30rem; }
  .galeria2Limp {
    justify-content: center; }
  .galeria1Limp {
    justify-content: center; }
  .galeria3Limp {
    display: none; }
  .h1 {
    font-size: 8rem; }
  .contenidoProd1Lim p {
    width: 30rem;
    font-size: 2rem; }
  .contenidoProd2Lim p {
    width: 30rem;
    font-size: 2rem; } }

.contenedorContacto {
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .imgContacto {
    display: none; } }

@media screen and (max-width: 570px) {
  .imgContacto {
    display: none; } }
