/* import */

@import "variables";



/* cambia la medida del rem, 1rem=10px*/
html{
    font-size: 62.5%;
    }
    *{
    font-family: 'Lato', sans-serif;
    }




    .dimensionesImagSol{
        width: 30rem;
        height: 30rem;
        transition: 2s;
        
    }
    .dimensionesImagSol1{
        width: 30rem;
        height: 20rem;
        padding: 0.2rem;
        
    }
    .dimensionesImagSol2{
        width: 30rem;
        height: 40rem;
        padding: 0.2rem;
        
    }
    .dimensionesImagSol3{
        /*max-width: 100%;
        height: auto;*/
        width: 30rem;
        height: 20rem;
        padding: 1rem;
        
    }
    
    @keyframes animacionlogo{
        20%{filter:brightness(10%) }
        50%{transform: rotatey(90deg);}
        80%{filter:brightness(100%) }
    }
    
    .logoCabecera{
    
        animation-name: animacionlogo;
        animation-duration: 5s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
    }

        /* css para Footer */

    footer {
            ul{
             li{
                font-size: 2rem;
             }
            }
            }

    .redesFlotantes {
        img{
        width: 3rem;
        display: inline-block;
            }
                }
    
    .whatsapp{
        position: fixed;
        z-index: 3;
        right: 4rem;
        bottom: 5rem;
        img{
        width: 5rem;
        }
    }

    @import "bootstrap";
@import "GridIndex";
@import "GridMtto";
@import "GridLimp";
@import "GridContacto";